<section class="probootstrap-slider flexslider">
    <ul class="slides">
      <li style="background-image: url(../../../assets/img/login_imagem.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <form onsubmit="event.preventDefault()" class="box">
                  <h1>Login</h1>
                  <p class="text-muted">Cadastre-se no site!</p>
                  <input type="text" name="" placeholder="Primeiro Nome"> 
                  <input type="text" name="" placeholder="Segundo Nome">
                  <input type="text" name="" placeholder="username"> 
                  <input type="password" name="" placeholder="Senha"> 
                  <input type="submit" name="" value="Cadastrar" [routerLink]="['/podcasts']">
                </form>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
