<section class="probootstrap-slider flexslider">
  <ul class="slides">
    <li style="background-image: url(../../../assets/img/login_imagem.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <form [formGroup]="loginForm" (ngSubmit)="login()" class="box">
                <h1>Login</h1>
                <p class="text-muted"> Digite seu username e sua senha!</p>
                <input formControlName="username" type="text" name="" placeholder="Username"> 
                <input formControlName="senha" type="password" name="" placeholder="Password"> 
                <input type="submit" name="" value="Entrar">
                <input type="submit" name="" value="Cadastrar" [routerLink]="['/signUp']">
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>