<section class="probootstrap-slider flexslider">
    <ul class="slides">
      <li style="background-image: url(../../../assets/img/slider_1.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="slides-text probootstrap-animate">
                <h2>Sobre nós</h2>
                <p>A MULTICAST tem como objetivo melhorar e difundir o mundo dos <b>podcasts</b></p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- END: slider  -->

  <div class="container">
    <div class="probootstrap-cta probootstrap-animate border-bototm-none">
      <h2 class="mb20">Mas afinal, o que realmente somos e fazemos? </h2>
      <p>
        A MULTICAST tem como objetivo entreter o seu dia e, de agluma forma, fazer com que você sinta que uma boa conversa pode tanto melhorar seu humor como lhe informar sobre tudo que está acontecendo no mundo hoje.  Além de escutar os podcasts, você pode assistir todos que estiverem ao vivo na plataforma. Sendo cadastrado aqui, você tem diferentes formas de saber se aquele podcast que você adora assitir está ao vivo e assistir onde e quando quiser.  Estamos aqui com diversas missões, onde queremos informar, proporcionar risos, transmitir aquela conversa com o seu convidado favorito e além de tudo, te damos a oportunidade de você criar seu próprio podcast para compartilhar com outras pessoas a sua conversa sobre qualquer assunto.
      </p>
    </div>
  </div>  

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading probootstrap-animate">
          <h2>A Multicast</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-card probootstrap-person text-center">
            <div class="probootstrap-card-media">
              <img src="../../../assets/img/avatar_arthur.jpeg" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading mb0">Arthur Ribeiro</h2>
              <p><small>Criador da Multicast 1</small></p>
              <p>Aluno de Ciências da Computação na Universidade FUMEC, na qual tenho total admiração por programação. Meu intuito na MULTICAST é tornar a vida das pessoas mais satisfatórias, em que focamos no bem estar não só dos ouvintes de podcast, mas principalmente aos nossos criadores de conteúdo.</p>
              <ul class="probootstrap-social">
                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                <li><a href="#"><i class="icon-instagram2"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-card probootstrap-person text-center">
            <div class="probootstrap-card-media">
              <img src="../../../assets/img/mendes_avatar.jpeg" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading mb0">Pedro Mendes</h2>
              <p><small>Criador da Multicast 2</small></p>
              <p>Aluno da universidade FUMEC do curso de ciências da computação, amante do mundo de segurança e redes embarcou no projeto MULTICAST com o intuito de ajudar usuários e criadores de conteúdo a terem acesso a essa plataforma que não só garante entretenimento mas como segurança.</p>
              <ul class="probootstrap-social">
                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-github"></i></a></li>
                <li><a href="#"><i class="icon-instagram2"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>                    
    </div>
  </section>