
<section class="probootstrap-slider flexslider">
    <ul class="slides">
      <li style="background-image: url(../../../assets/img/slider_1.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="slides-text probootstrap-animate">
                <h2>Uma boa conversa...</h2>
                <p><a href="https://uicookies.com/" target="_blank" class="btn btn-primary">Escutar</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(../../../assets/img/slider_2.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="slides-text probootstrap-animate">
                <h2>...pode melhorar...</h2>
                <p><a href="https://uicookies.com/" target="_blank" class="btn btn-primary">Escutar</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(../../../assets/img/slider_3.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="slides-text probootstrap-animate">
                <h2>...o seu dia</h2>
                <p><a [routerLink]="['/podcasts']" routerLinkActive="router-link-active"  class="btn btn-primary">Escutar</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  
  
  <div class="container">
    <div class="probootstrap-cta probootstrap-animate">
      <h2 class="mb20">Escute, assita & crie podcasts sobre tudo.</h2>
      <p>Com o MULTICAST você pode ir além de um boa conversa, aqui você pode entrar e participar interagindo ou criando seu próprio conteúdo. Assuntos diversos, onde a conversa ou debate de algum tema pode influenciar de modo significativo o seu dia, nada melhor do que ficar por dentro ou saber um pouco mais sobre alguém ou um dado assunto.</p>
      <p><a [routerLink]="['/login']" routerLinkActive="router-link-active"  role="button" class="btn btn-primary">Bora lá</a></p>
    </div>
  </div>
  
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading probootstrap-animate">
          <h2>O que nós oferecemos?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-card">
            <div class="probootstrap-card-media">
              <a href="single-page.html"><img src="../../../assets/img/assista_imagem.jpg" class="img-responsive img-border"></a>
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading mb0">Assitir</h2>
              <p class="category">Lives &amp; Gravações</p>
              <p>Assista onde e quando quiser o seu podcast favorito aqui mesmo. Com o MULTICAST além de escutar uma boa conversa, você pode també acompanhar o que está rolando em tempo real.</p>
            </div>
          </div>
        </div>  
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-card">
            <div class="probootstrap-card-media">
              <a href="single-page.html"><img src="../../../assets/img/criar_imagem.jpg" class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com"></a>
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading mb0">Criar</h2>
              <p class="category">Crie seu conteúdo</p>
              <p>Faça parte da nossa comunidade de Podcasters e crie seu próprio conteúdo aqui mesmo. Você não precisa ficar escolhendo um assunto para escutar no seu dia, você pode criar a sua própria conversa e convidar seus amigos para um prazeroso bate-papo que talvez seja de interesse de outras pessoas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-card">
            <div class="probootstrap-card-media">
              <a href="single-page.html"><img src="../../../assets/img/escutar_imagem.jpg" class="img-responsive img-border" alt="Free HTML5 Template by uicookies.com"></a>
            </div>
            <div class="probootstrap-card-text">
              <h2 class="probootstrap-card-heading mb0">Escutar</h2>
              <p class="category">Escute o que quiser</p>
              <p>Nada melhor do que ir para o trabalho escutando uma boa conversa ou acordar com as noticias do dia para ficar antenado no que está acontecendo. No MULTICAST, você pode participar da conversa no momento em que ocorre ou depois quando quiser, pois o conteúdo que você queria escutar estará te esperando para ouvi-lo sempre.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>